table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    width:450px;
    margin-top:5px;
}
table.imagetable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table.imagetable td {
	background-color:#C4E1FF;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}